<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- Title -->
	<title>Fruitkha</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" th:href="@{/assets/img/favicon.png}">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

	<!-- CSS Libraries -->
	<link rel="stylesheet" th:href="@{/assets/css/all.min.css}"> <!-- FontAwesome -->
	<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}"> <!-- Bootstrap -->
	<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.css}"> <!-- Owl Carousel -->
	<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}"> <!-- Magnific Popup -->
	<link rel="stylesheet" th:href="@{/assets/css/animate.css}"> <!-- Animate CSS -->
	<link rel="stylesheet" th:href="@{/assets/css/meanmenu.min.css}"> <!-- Mean Menu -->
	<link rel="stylesheet" th:href="@{/assets/css/main.css}"> <!-- Main Style -->
	<link rel="stylesheet" th:href="@{/assets/css/responsive.css}"> <!-- Responsive -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"> <!-- Remix Icons -->
</head>
<body>
<!-- PreLoader -->
<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>
<!-- PreLoader Ends -->

<!-- Hero Area -->
<div class="hero-area hero-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2">
				<div class="hero-text">
					<div class="hero-text-tablecell" style="display: flex; justify-content: center;">
						<div class="col-lg-7 col-md-6">
							<div class="form" style="background: linear-gradient(to bottom, #cfd9df 0%, #003566 100%);">
								<div class="form-title pt-5">
									<h2 class="text-center">Sign Up</h2>
								</div>
								<!-- Signup Form -->
								<form id="signupForm" th:action="@{/api/auth/signup}" th:object="${user}" method="post" py="12px">
									<div class="form-group">
										<label for="username">FirstName</label>
										<input type="text" id="firstname" th:field="*{firstName}" placeholder="Toto" required>
									</div>
									<div class="form-group">
										<label for="username">LastName</label>
										<input type="text" id="lastname" th:field="*{lastName}" placeholder="Tata" required>
									</div>
									<div class="form-group">
										<label for="username">UserName</label>
										<input type="text" id="username" th:field="*{username}" placeholder="tototata" required>
									</div>
									<div class="form-group">
										<label for="email">E-mail</label>
										<input type="email" id="email" th:field="*{email}" placeholder="toto@example.com" required>
									</div>
									<div class="form-group">
										<label for="password">Password</label>
										<input type="password" id="password" th:field="*{password}" placeholder="****" required>
									</div>
									<div class="form-group">
										<label for="confirmPassword">Confirm Password</label>
										<input type="password" id="confirmPassword" th:field="*{confirmPassword}" placeholder="****" required>
									</div>
									<button type="submit" class="boxed-btn" style="display: block; margin: 0 auto; font-weight: bold; font-size: 15px;">Submit</button>
								</form>
								<p style="font-size: 16px; text-align: center;">Already have an account? <a th:href="@{/api/auth/login}">Log in here!</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Area -->

<!-- Copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>© Copyright Click 'n' Collect
					<script>
						document.write(new Date().getFullYear());
					</script>
				</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<!-- Replace with actual social media URLs or remove if not needed -->
						<li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://dribbble.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Copyright -->

<!-- JavaScript Libraries -->
<script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/jquery.countdown.js}"></script>
<script th:src="@{/assets/js/jquery.isotope-3.0.6.min.js}"></script>
<script th:src="@{/assets/js/waypoints.js}"></script>
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/assets/js/jquery.meanmenu.min.js}"></script>
<script th:src="@{/assets/js/sticker.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>